<div *ngIf="loading">
  <app-loadder></app-loadder>
</div>

<section class="h-100 mt-3 section mb-3" *ngIf="!loading">
  <div class="container h-100">
    <div class="row justify-content-md-center h-100">
      <div class="card-wrapper">
        <div class="card fat">
          <div class="card-body" style="background-color: white">

            <a routerLink="/home" type="button" class="btnVoltar btn text-center">
              <i class="fa fa-arrow-left float-left"></i> Voltar
            </a><br><br>

            <div class="divImg mt-3">
              <img src="assets/logo.png" class="img" />
            </div>
            <h2 class="card-title text-center mt-3" >
              Lista de Produtos
            </h2>
            <p class="text-center mt-3">
              Confira nossos produtos abaixo.
            </p>
            <hr>

            <div class="card-deck">
              <div class="card" *ngFor="let produto of produtos | slice: 0:2; let i = index">
                <img class="card-img-top" [src]="produto.img[0]">
                <div class="card-body">
                  <h5 class="card-title">{{produto.nome}}</h5>
                  <p class="card-text">{{produto.descricao}}</p>
                  <p class="card-text">Valor: {{produto.valor | currency:'BRL' }}</p>
                </div>
                <div class="card-footer">
                  <button type="button" class="btn btn-block btn-primary" (click)="verProduto()">
                    Comprar <i class="fa fa-cart-plus"></i></button>
                </div>
              </div>
            </div>
            <br>
            <div class="card-deck" *ngIf="produtos.length > 3">
              <div class="card" *ngFor="let produto of produtos | slice: 2:4; let i = index">
                <img class="card-img-top" [src]="produto.img[0]">
                <div class="card-body">
                  <h5 class="card-title">{{produto.nome}}</h5>
                  <p class="card-text">{{produto.descricao}}</p>
                  <p class="card-text">Valor: {{produto.valor | currency:'BRL' }}</p>
                </div>
                <div class="card-footer">
                  <button type="button" class="btn btn-block btn-primary" (click)="verProduto()">
                    Comprar <i class="fa fa-cart-plus"></i></button>
                </div>
              </div>
            </div>
            <hr />

            <app-footer></app-footer>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
