.card-img-top {
  margin: 30px 0 15px 0;
}

.card-button {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
  background-color: var(--blue);
  color: #fff !important;
  border-radius: 8px;
  text-decoration: none;
  margin-top: 25px;
}

.card-button:hover {
  text-decoration: none;
  background-color: var(--blue);
  color: #fff;
}

.container2 {
  position: relative;
  top: 5px !important;
}
