.card-img-top {
  margin: 30px 0 15px 0;
  max-width: 600px;
  max-height: 300px;
  width: auto;
  height: auto;
}

.card-button {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  width: 100%;
  background-color: var(--blue);
  color: #fff !important;
  border-radius: 8px;
  text-decoration: none;
  margin-top: 25px;
}

.card-button:hover {
  text-decoration: none;
  background-color: var(--blue);
  color: #fff;
}

.btnVoltar {
  position: absolute;
  right: 91%;
  width: 100px;
  line-height: 1;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 425px) {
  .btnVoltar {
    right: 70%;
  }
}

.divImg {
  display: flex;
  justify-content: center;
  height: 300px;
  width: 30%;
  position: relative;
  left: 36%;
}

@media (max-width: 450px) {
  .divImg {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 30%;
    position: relative;
    left: 36%;
  }
}
