<div *ngIf="loading">
  <app-loadder></app-loadder>
</div>

<section class="h-100 mt-3 section mb-3" *ngIf="!loading">
  <div class="container h-100">
    <div class="row justify-content-md-center h-100">
      <div class="card-wrapper">
        <div class="card fat">
          <div class="card-body" style="background-color: white">
            <div class="divImg mt-3"><img src="assets/logo.png" class="img"></div>
            <br>
            <h3 class="card-title text-center mt-3" >Olá, estamos fazendo melhorias em nosso site, logo logo voltaremos as atividades !</h3>
            <h5 class="card-title text-center" >Enquanto isso, siga a
              Tribo instagram pelo @tribo.imep para acompanhar nossas programações.</h5>
            <hr>
            <app-footer></app-footer>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
