<div *ngIf="loading">
  <app-loadder></app-loadder>
</div>

<section class="h-100 mt-3 section mb-3" *ngIf="!loading">
  <div class="container h-100">
    <div class="row justify-content-md-center h-100">
      <div class="card-wrapper">
        <div class="card fat">
          <div class="card-body" style="background-color: white">

            <a routerLink="/home">
              <button type="button" class="btn btnVoltar text-center">
                <i class="fa fa-arrow-left float-left"></i> Voltar
              </button>
            </a><br><br>

            <div class="divImg mt-3">
              <img src="assets/logo.png" class="img" />
            </div>

            <h2 class="card-title text-center mt-3" >
              Pedido Realizado <i class="fa fa-check"></i>
            </h2>
            <hr />

            <h5 class="card-title text-left mt-3">Pedido:</h5>
            <p class="card-title text-left mt-3" id="codigoPedido">{{ pedido.codigoPedido }}</p>
            <a class="btn btnCopiar" (click)="copiarCodigo($event)"><i class="fa fa-copy"></i> Copiar código</a>

            <h5 class="card-title text-left mt-3">Comprador:</h5>
            <p class="card-title text-left mt-3">{{ pedido.nome }}</p>

            <h5 class="card-title text-left mt-3">CPF/CNPJ:</h5>
            <p class="card-title text-left mt-3">{{ pedido.documento }}</p>

            <h5 class="card-title text-left mt-3">E-mail:</h5>
            <p class="card-title text-left mt-3">{{ pedido.email }}</p>

            <h5 class="card-title text-left mt-3">Data do pedido:</h5>
            <p class="card-title text-left mt-3">{{ pedido.dataPedido }}</p>

            <h5 class="card-title text-left mt-3">Produtos:</h5>
            <div *ngFor="let prod of produtos">
              <p class="card-title text-left">{{ formatarProdutos(prod) }}</p>
            </div>

            <h5 class="card-title text-left mt-3">Valor Total:</h5>
            <p class="card-title text-left mt-3">{{ valorTotalFormatado() }}</p>

            <h5 class="card-title text-left mt-3">Forma de Pagamento:</h5>
            <p class="card-title text-left mt-3 mb-5">{{ pedido.formaPagamento }}</p>

            <div class="label-info alert alert-info text-center" *ngIf="pedido.formaPagamento == 'Pix'">
              <i class="fa fa-exclamation-circle float-left"></i>
              <p>Este comprovante é muito importante, então tire print ou copie o código do pedido para se proteger.</p>
              <p class="mt-3"> A chave pix para pagamentos é <b>tribo.imep2022@gmail.com.</b> </p>
              <p class="mt-3"> Ao realizar o pagamento, envie o comprovante para o número abaixo: </p>
              <b><a class="btn" href="https://api.whatsapp.com/send?phone=5563991321949" target="_blank">(63) 9
                  8441-6085</a></b>
            </div>

            <div *ngIf="pedido.formaPagamento != 'Pix'">
              <div class="label-info alert alert-info text-center">
                <i class="fa fa-exclamation-circle float-left"></i>
                Este comprovante é muito importante, então tire print ou copie o código do pedido para se proteger. Para
                receber o link de pagamento, clique no botão abaixo.
              </div>
              <a class="btn-center btn btn-success text-center" (click)="enviarComprovante()" target="_blank">Enviar
                para WhatsApp <i class="fa fa-whatsapp float-right fa-2x"></i></a>
            </div>

            <hr />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
