.btnVoltar {
  position: absolute;
  top: 2%;
  right: 91%;
  width: 100px;
  line-height: 1;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
}

@media screen and (max-width: 425px) {
  .btnVoltar {
    right: 70%;
  }
}

.btnCopiar {
  line-height: 1;
  padding: 8px 0px;
  text-align: center;
  text-decoration: none;
}

.label-info {
  font-size: small !important;
}

.divImg {
  display: flex;
  justify-content: center;
  height: 300px;
  width: 30%;
  position: relative;
  left: 36%;
}

@media (max-width: 450px) {
  .divImg {
    display: flex;
    justify-content: center;
    height: 200px;
    width: 30%;
    position: relative;
    left: 36%;
  }
}
