.label-error {
  color: brown;
  font-size: small;
}

.btnTrocarImagem {
  line-height: 1;
  position: absolute;
  left: 50%;
  display: flex;
  justify-content: center;
}

.divImgProduto {
  display: flex;
  justify-content: center;
}

.imgProduto {
  width: 40%;
  height: 200px;
}

@media screen and (max-width: 425px) {
  .divImgProduto {
    display: flex;
    justify-content: center;
  }

  .imgProduto {
    width: 90% !important;
    height: 200px;
  }
}
